:host {
  .map-control-container {
    position: absolute;
    z-index: 10;
    left: 85vw;
  }
  .area-name-input {
    background-color: var(--ion-color-userinput);
    text-align: right;
    font-size: 0.9em;
    //min-width: 60px;
    //width: 200px;
    //font-size: 1em;
    //font-weight: bold;
    text-align: right;
    min-width: 60%;
    background: #d7d8da;
    margin-top: 0px;
  }
  .area-value {
    font-size: 1.5em;
    font-weight: bold;
  }
  .area-anlegung-input {
    background-color: var(--ion-color-userinput);
  }
  .search_container {
    position: relative;
    padding-bottom: 0.1em;
  }
  .map-control-button {

  }
  .flowing_container{
    position:absolute;
    top: 10vh;
    z-index: 12;
  }
  .flowing_howto_container {
    position:absolute;
    top: 10vh;
    z-index: 13;
    left: 25vw;
  }
  .photobooth {
    height: 10vh;
  }
  .webcam {
    z-index: 10;
    position: absolute !important;
    width: 90vw;
  }
}
