<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meine Flächen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let d of data" detail="true" (click)="openPage(d)">
      <ion-avatar *ngIf="d.base64_jpeg_image">
        <img [src]="'data:image/png;base64,' + d.base64_jpeg_image">
      </ion-avatar>
      <ion-label>{{d.area_name}}<p>{{d.address_canonical}}</p></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
